{% extends 'base.html' %}
{% block content %}

{% for p in posts %}
<h2><a href="{% url 'post' p.pk %}">{{ p.title }}</a></h2>
<p>{{ p.content|truncatewords:50|linebreaks }}</p>
<p>{{ p.time_create }}</p>
<br>
{% endfor %}

{% if page_obj.has_other_pages %}
<ul>
    {% for p in page_obj.paginator.page_range %}
    {% if page_obj.number == p %}
    <li>{{ p }}</li>
    {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
    <li><a href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endblock %}